<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.mashkovich.education.dao.IDisciplineDao">
	<resultMap type = "Discipline" id = "DisciplineResultMap">
	<id property = "id" column = "id"/>
	<result property = "name" column = "name"/>
	</resultMap>
	<select id = "getByID" parameterType ="int" resultMap = "DisciplineResultMap">
	select 
	di.id as id,
	di.name as name
	from Disciplines di WHERE id=#{id}
	</select>	
</mapper>
