<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.mashkovich.education.dao.IScheduleDao">
	<resultMap type = "Schedule" id = "ScheduleResultMap">
	<id property = "id" column = "schedule_id"/>
	<association property="group" resultMap = "com.mashkovich.education.dao.IGroupDao.GroupResultMap"/>
	<association property="lecture" resultMap = "com.mashkovich.education.dao.ILectureDao.LectureResultMap"/>
	</resultMap>
	<select id = "getByID" parameterType ="int" resultMap = "ScheduleResultMap">
		select
		sc.id as schedule_id,
		gr.id as group_id,
		gr.number as number,
		sp.name as speciality_name,
		sp.id as speciality_id,
		sp.name as specility_name,
		sp.code as code, 
		le.id as lecture_id,
		di.id as id,
		di.name as name,
		pr.id as professor_id,
		pr.name as professor_name,
		pr.second_name as professor_second_name,
		pr.gender as professor_gender,
		pr.name as professor_phone,
		ch.id as chair_id,
		ch.name as chair_name,
		ch.email as chair_email,
		ch.phone as chair_phone,
		fa.id as faculty_id,
		fa.name as faculty_name,
		fa.email as faculty_email,
		fa.phone as faculty_phone,
		u.id as university_id,
		u.name as university_name,
		ad.id as address_id,
		ad.street as street,
		ad.house as house,
		ci.id as citi_id,
		ci.city as city,
		c.id as country_id,
		c.country as country
		from Schedules sc inner join Groups gr on sc.Groups_id=gr.id
		inner join Specialties sp on gr.Specialties_id=sp.id
		inner join Lectures le on sc.Lectures_id=le.id
		inner join Professors pr on le.Professors_id=pr.id
		inner join Disciplines di on le.Disciplines_id=di.id
		inner join Chairs ch on pr.Chairs_id=ch.id
		inner join Faculties fa on ch.Faculties_id=fa.id
		inner join Universities u on fa.Universities_id=u.id
		inner join Addresses ad on u.Addresses_id=ad.id
		inner join Cities ci on ad.Cities_id=ci.id  
		inner join Countries c on ci.Countries_id=c.id
		WHERE sc.id = #{id}
	</select>	
</mapper>